.form-control{
    background: transparent;
    border-top: none; 
    border-left: none; 
    border-right: none;
    color: white;
    border-color: white;
}

.input-group-addon[_ngcontent-c2] {
    text-align: left;
    border: none;
}

.dropdown[_ngcontent-c2] {
    background: #47D9FE;
}